<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title><link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <!-- HEADER-->
    <div class="ui secondary menu">
        <span class="title">serveur IT7</span>
        <div class="right item">
            <div class="ui dropdown item">
                <img class="ui avatar image" src="/images/elliot.jpg" alt="Profile Photo">
                <span>Username</span>
                <div class="menu">
                    <a class="item" href="#">Profile</a>
                    <a class="item" href="/logout">Log out</a>
                </div>
            </div>
        </div>
    </div>

    <!--BODY-->
    <center>
        <div class="ui card">
            <div class="image">
                <img src="/images/elliot.jpg" alt="">
            </div>
            <div class="content">
                <div class="description">
                    <div>
                        Username:
                        <span>
                            <!--username-->
                            <strong><%= username %></strong>
                        </span>
                    </div>
                    <div>
                        Matricule:
                        <span>
                            <!--matricule-->
                            <strong><%= matricule %></strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <a href="#"><button class="ui mini floated left green button">Change username</button></a>
                <a href="/profile/delete"><button class="ui mini floated right red button">Delete account</button></a>
                
            </div>
        </div>
    </center>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>
        $('document').ready(()=>{
            $('.dropdown.item').dropdown({
                on: 'click'
            });

            $('.dimmable.image').dimmer({
                on: 'hover'
            });
        });
    </script>
</body>
</html>